body {
    background-image: url(../images/comic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100%;
    margin: 0px;
    position: relative;
    background-attachment:fixed;
}

html {
    height: 100%
}


/* Giving a background-color to the nav container. */

nav {
    width: 780px;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    position: relative;
    display: inline-block;
    background-color: #E64A19;
}


/* Styling the links */

nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}


/*Shows the colour  when the cursor is pointed to the different navigation tabs*/

nav li {
    transition: all ease 650ms;
    font-family: Papyrus, fantasy;
}

nav li:hover {
    background-color: #D16D59;
    font-family: Papyrus, fantasy;
}

nav > ul:after {
    display: block;
    content: '';
    clear: both;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 50px;
}

nav ul li:hover > ul {
    display: inherit;
    width: 100%;
}

nav ul li ul li ul li {
    background-color: #D63C1D;
    font-family: Papyrus, fantasy;
}


/*Everything after content does not require arrows*/

nav ul ul li {
    width: 100%;
    display: list-item;
    position: relative;
    background-color: #DD4318;
}


/*Green Arrow navigation to submenus*/

nav ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
}

.comic > a:after,
.character > a:after {
    content: "\25bc";
    display: inline-block;
    transition: 650ms ease all;
}

.comic:hover > a:after {
    transform: rotate(180deg);
    color: #070EF0;
}

.character > a:after {
    display: inline-block;
    transition: 650ms ease all;
}

.character:hover > a:after {
    transform: rotate(270deg);
    color: #FFFF00;
}

.sticky-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #E64A19;
}

p {
    font-family: Papyrus, fantasy;
    color: #fff;
}
 
 