body{
      background-image: url(../images/comic.png);
    background-repeat: no-repeat;
}


.nav-body {

    margin: 160px auto;
    width: 700px;



}

ul {
    text-align: center;
    display: inline-table;
    padding: 100px 0px;
    color: white;
    width: 100%
}

ul li {
    font: bold 15px;
    font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
    display: inline-block;
    position: relative;
    padding: 11px 19px;
    cursor: pointer;
}

ul li:hover {
    background: grey;
    color: #fff;
}

ul li ul {
    padding: 0;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
}

ul li ul li {
    background: grey;
    display: block;
    color: darkblue;
}

ul li ul li:hover {
    text-decoration: none;
}

ul li:hover ul {
    display: block;
    visibility: visible;
}
